body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #000;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.video-cover video {
  position: absolute;
  object-fit: cover;
}
.loader {
  border: 6px solid #f3f3f3;
  /* Light grey */
  border-top: 6px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes fadein {
  from {
    left: 0;
    opacity: 0;
  }

  to {
    left: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    left: 0;
    opacity: 0;
  }

  to {
    left: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    left: 30px;
    opacity: 1;
  }

  to {
    left: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    left: 30px;
    opacity: 1;
  }

  to {
    left: 0;
    opacity: 0;
  }
}

.participant-view{  
  width: 100%;
  height: 400px;
  max-width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: "#1A1C22";
  border-radius: "10px";
  overflow: "hidden",
}

.more-participant {
  grid-template-columns: 1fr 1fr;
}

.single-participant {
  grid-template-columns: 1fr;
}

@media  (max-width: 768px){

  .participant-view {
    width: 100%;
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: "#1A1C22";
    border-radius: "10px";
    overflow: "hidden",
  }

  .more-participant {
    grid-template-columns: 1fr;
  }
  
}
